includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'
#        - '#Access to an undefined property object::\$#'
        - '#Access to an undefined property object::\$name#'

    excludes_analyse:
        - app/Listeners/AlertSuccessfulLogin.php
        - app/Http/Middleware/Authenticate.php

    checkMissingIterableValueType: false
